.circle {
  width: 460px;
  height: 600px;
  background-image: url('/img/circular-shape-silhouette.svg');
  position: absolute;
  top: 0;
    right: 0;
    background-position: bottom left;
    background-size: 160%;
}
